import(jaspBase)
export(TTestIndependentSamples)
export(TTestPairedSamples)
export(TTestOneSample)
export(TTestBayesianIndependentSamples)
export(TTestBayesianPairedSamples)
export(TTestBayesianOneSample)
export(.posteriorSummaryGroupMean)
export(.bf10_t)
export(summarySEwithin)
export(summarySE)
export(.plotPriorPosterior)
export(.ttestBayesianGetBFnamePlots)
