import(jaspBase)
export(TTestIndependentSamplesInternal)
export(TTestPairedSamplesInternal)
export(TTestOneSampleInternal)
export(TTestBayesianIndependentSamplesInternal)
export(TTestBayesianPairedSamplesInternal)
export(TTestBayesianOneSampleInternal)
export(TTestIndependentSamples)
export(TTestPairedSamples)
export(TTestOneSample)
export(TTestBayesianIndependentSamples)
export(TTestBayesianPairedSamples)
export(TTestBayesianOneSample)
export(.posteriorSummaryGroupMean)
export(.bf10_normal)
export(.bf10_t)
export(summarySEwithin)
export(summarySE)
export(.plotPriorPosterior)
export(.ttestBayesianGetBFnamePlots)
export(.descriptivesPlotsRainCloudFill)
export(.confidenceLimitsEffectSizes)
export(.posteriorSummaryGroupMean)
export(.qt.shiftedT)
export(.posterior_t)
export(.integrand_t)
export(.dposteriorShiftedT)
export(.dposterior_informative)
export(.ciPlusMedian_t)
export(.qShiftedT)
export(.ciPlusMedian_normal)
export(.dprior_informative)
export(.dprior)
export(.posterior_normal)
export(.likelihoodShiftedT)
